.App {
  text-align: center;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.node {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  margin: 4px 0px;
  width: 800px;
}
.node__loading {
  background-color: #f5f5f5;
}
.node__ok {
  background-color: #b7eb8f;
}

.node__failed {
  background-color: #ffa39e;
}

.node-num {
  font-weight: 600;
  padding-right: 10px;
  width: 40px;
}
.node-url {
  padding-right: 20px;
}
.node-oms {
  font-weight: 600;
  width: 40px;
}
